.tab-content {
    color: #404053;
}

.asociatecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.btn-asociate {
    display: block;
    margin: 0 auto;
    background-color: #404053;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.form-group {
    margin-bottom: 20px; 
  }